* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f7f7f7;
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  #game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    border: 2px solid #333;
    background-color: #fff;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #eee;
  }
  
  .cell.winner {
    background-color: #66bb6a;
    color: #fff;
  }
  
  #sidebar {
    margin-left: 50px;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  